Repository caffco/async-busboy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:bug: Fix usage in TypeScript codebases
  package.json
Due: prettier --write

v3.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

:bug: Fix code coverage reports
  package-lock.json
  package.json
  vitest.config.ts
Due: prettier --write, eslint --fix

ci(coverage): move from c8 to v8
  package-lock.json
  package.json
  vitest.config.ts
Due: prettier --write, eslint --fix

ci(dependabot): add conventional commit support
  .github/dependabot.yml
Due: prettier --write

Remove Node 14 from tests and add Node 20 and 21
  .github/workflows/test.yml
Due: prettier --write

Update test matrix to only use Node 18, 20 and 22
  .github/workflows/test.yml
Due: prettier --write

feat: migrate from ESLint/Prettier to Biome
  .eslintignore
  .eslintrc
  .github/workflows/test.yml
  .lintstagedrc
  .prettierignore
  .prettierrc
  biome.json
  package-lock.json
  package.json
  src/index.ts
Due: prettier --write, eslint --fix

feat: upgrade code coverage to use latest Codecov action
  .github/workflows/test.yml
Due: prettier --write

feat: treat all linter warnings as errors and fix issues
  biome.json
Due: prettier --write

Fix warnings
  package.json
Due: prettier --write

Update all dependencies
  package-lock.json
  package.json
Due: prettier --write

Remove deprecated config
  .husky/pre-commit
Due: none

Update Dependabot config
  .github/dependabot.yml
Due: prettier --write

Drop Node 18 support, add Node 24
  .github/workflows/test.yml
Due: prettier --write

feat: migrate from ESLint/Prettier to Biome (#487)
  .eslintignore
  .eslintrc
  .github/dependabot.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  biome.json
  package-lock.json
  package.json
  src/index.ts
Due: prettier --write, eslint --fix

chore(docs): Update readme badges
  README.md
Due: prettier --write

fix: sync lockfile for vitest 4 bump and correct dependabot assignee
  .github/dependabot.yml
  package-lock.json
Due: prettier --write

chore(deps): bump vite, @vitest/coverage-v8 and vitest (#502)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

fix: remove invalid cast that broke the DTS build
  src/index.ts
Due: prettier --write, eslint --fix

chore(deps-dev): upgrade vitest and @vitest/coverage-v8 to v5
  .github/workflows/test.yml
  biome.json
  package-lock.json
  package.json
  vitest.config.mts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.md)) or (any of: *.yml)) or (any of: *.json)
  eslint --fix: any of: *.ts
